:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.main-layout {
  display: flex;
  height: calc(100vh - 64px);
  padding-left: 350px;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  height: 100%;
}