<aside class="sidebar">

  <nav>

    <a href="#">
      <span>🏠</span>
      <span>Home</span>
    </a>

    <a href="#">
      <span>🏀</span>
      <span>Players</span>
    </a>

    <a href="#">
      <span>🏆</span>
      <span>Teams</span>
    </a>

    <a href="#">
      <span>📊</span>
      <span>Leaders</span>
    </a>

    <a href="#">
      <span>🗓</span>
      <span>Games</span>
    </a>

  </nav>
  <div class="dark-mode">
        <span>🌙</span>
        <span>Dark Mode</span>

    <label class="switch">
        <input type="checkbox" (change)="toggleDarkMode()">
        <span class="slider"></span>
    </label>
 </div>

  <div class="sidebar-bottom">

    <a href="#">
      <span>⚙</span>
      <span>Settings</span>
    </a>

  </div>

</aside>