<main class="teams-content">
    <div class="data-card ">
      <div class="teams-flex">
        @for (t of teams; track t.id) {
          <a [routerLink]="['/teams', t.id]"
            class="team-tile"
            [style.background-color]="getTeamColor(t.abbreviation)">
            <img [src]="'https://a.espncdn.com/i/teamlogos/nba/500/' + getLogoAbbr(t.abbreviation) + '.png'" width="60" height="60" />
            <span class="team-tile-name">{{ t.name }}</span>
            <span class="team-tile-conf">{{ t.conference }} Conference</span>
          </a>
        }
      </div>
    </div>
</main>